body{
  background-color: #EAEAEA;
  display:flex;
  justify-content: center;
  font-size: 1rem;
}

h1{
  color: #202C39;
  font-size: 3rem;
}

.form{
  display: flex;
  font-size:1rem;
  color:#202C39;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

button{
  display: block;
  border-radius: 15px;
  color: #C16C18;
  font-size: 1.5rem;
}
input{
  width:50%;
  margin-bottom: 5%;
}

h3{
  text-align: center;
  color: #DB7C26;
  font-size: 2rem;
}

.correct{
  text-align: center;
  color: #DB7C26;
  font-size: 2.5rem;
}
.wrong{
  text-align: center;
  color: #5D5E60;
  font-size: 1rem;
}